################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/TelemetryService/v14
*.suo
*.exe
*.dll
*.pyc
*.pdb
**/output-win-dbg/**
**/output-ske-dbg/**
**/output/**
**/bin/**
**/obj/**
**/out/**
*.vcxproj
*.vcxproj.*
skylight*.sln
libs.sln
Debug*/
Debug-*/
Release/
*.opendb
*.db
external/OmniXAML/
src/app/managed/Libraries/ui
**/monologue.txt
**/armite-log.txt
**/packages/**
external/breakpad/
*.dmp
**/.idea.skcorelib/**
app/*.dll.*
app/etc/*
app/*.exe.*
.vs/
ipch/
external/libs/*
Debug_x64/
Release_x64/
*.sln
*.lib
*.ninja
environment.*
build/tools/Cake/
*.zip
**/syms/**
\.directory
src/ui/ui/ui\.asar
**/node_modules/**