<div ngbDropdown class="sidebar">
	<img style="opacity:1" style="margin-left: 7px;" src="/assets/google-controller.png"
		 width="64" height="64" />
	<div class="dropdown-menu" style="margin-top:0px">
		<span *ngIf="controls.isPlaying" class="quick-controls">
			<button (click)="controls.action(c.controlName)" class="dropdown-item quick-controls-item"
					*ngFor="let c of controlsList">
				<span style="display:block; margin:0px auto;" class="fa-stack">
					<i class="fa fa-{{c.icon}} fa-stack-1x fa-inverse accent-color-text"></i>
				</span>
				<span *ngIf="c.controlName == 'mute'">
					{{client.MuteButtonText}}
				</span>
				<span *ngIf="c.controlName != 'mute'">
					{{c.text}}
				</span>
			</button>
		</span>
		<button *ngFor="let route of routes" class="dropdown-item" (onClick)="nav(route.path)">
			{{route.itemName}}
		</button>
	</div>
	<span class="page-title">Now Playing</span>
	<span ngbDropdownToggle class="quick-drop">
		<i  style="display: inline-block; width: 100%;" class="fa fa-chevron-down"></i>
	</span>
</div>