@import '../../../css/theme-config.scss';
@import '../../../css/dropdown-style.scss';

.sidebar {
	height:64px;
    color: $accent-color;
    font-family: $font-family;
    background-color: $sidebar-bg;
    // text-align: center;
    position: fixed;
    z-index: 2000;
    width:100vw;
	display: grid;
	grid-auto-columns: 64px auto;
	grid-auto-flow: column;
}
.dropdown-menu {
	margin: 0;
	padding: 0;
	width:100%;
	min-width: 0px;
	border: 0px;
	border-radius: 0;
    background-color: $sidebar-bg;
}
.dropdown-item {
	color: white;
	//color: $accent-color;
	height: 50px;
}
.dropdown-item:active {
	color: white;
}
.dropdown-item:hover {
	color: white;
	background-color: $accent-color;
}
.dropdown-item:focus {
	color: white;
	background-color: $accent-color;
}
.quick-controls {
	text-align: center;
	display: block;
}
.quick-controls-item {
	color: white;
	display: inline;
	width: 25%;
	height: 64px;
}
i:active {
    color: white;
}
.dropdown-toggle:after {
	display: none;
}
.quick-drop.active, .quick-drop:active, .show>.quick-drop.dropdown-toggle {
    color: white;
    background-color: $accent-color;
}
.quick-drop {
	padding-top: 20px;
	max-height: 64px;
	width: 64px;
	text-align: center;
	color: white;
}
.page-title {
	font-size: 25px;
	margin-top: 15px;
	margin-left: 10px;
	color: white;
}