.dropdown-item:hover {
    color: $accent-color;
}
.btn-outline-player3 {
    border: 0px;
    color: #444;
    font-size: 40px;
    margin-bottom: 25px;
    background: transparent;
    font-family: $font-family;
    border-color: $accent-color;
}
.btn-outline-player3:hover {
    color: white;
    background-color: $accent-color;
}
.dropdown-item:active {
    color: white;
    border-color: $accent-color;
    background-color: $accent-color;
}
.btn-outline-player3.active, .btn-outline-player3:active, .show>.btn-outline-player3.dropdown-toggle {
    color: white;
    background-color: $accent-color;
}
.btn:focus {
    box-shadow: none; //0 0 0 2px rgba(168, 61, 62,.25)
}
.btn:active {
    color: white;
    background-color: $accent-color;
}
button:focus {
    outline: 0px solid $accent-color;
}