$sidebar-bg: #212424;
$followed-grid-bg: rgba(24,25,25,0.8);
$login-box-bg: #171c1c;
$text-color: #EEE;
$accent-color: #A83D3e;//#da4a4b;
$avatar-control-bg:rgba(24,25,25,51);
$font-family: 'Pontano Sans', sans-serif;

.centered-icon {
	display:block;
	margin:0px auto;
	color: $accent-color;

}
.accent-color-text {
	color: $accent-color;
}