@import '../../../css/theme-config.scss';

.stream-title {
    z-index:1;
    width: 300px;
    height: 25px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(35, 35, 35, 0.8);
    position:absolute;
}
.stream-title-bottom {
    z-index:1;
    width: 300px;
    height: 60px;
    text-align: center;
    background-color: rgba(35, 35, 35, 0.8);
    position:absolute;
    top: 240px;
    padding-top: 6px;
}
.text-box {
    width:275px;
    display:inline-block;
    font-size: 15px;
    margin: 0px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-box-accent-color {
    color: $accent-color;
}