@import '../../../css/theme-config.scss';

#login-wrapper {
	width:384px;
	height:320px;
	padding:15px 32px 32px 32px;
	background: $login-box-bg;
	color: white;
	text-align: center;
	margin: 32px auto;
	font-family: $font-family;
	box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),0 8px 10px 1px rgba(0,0,0,.14),0 3px 14px 2px rgba(0,0,0,.12)
}
.login-button {
	width: 120px;
	height: 30px;
	background-color: #1565c0;
	margin: 0px auto;
	color: white;
	font-size: 16px;
	padding:12px 5px 3px 5px;
	font-weight: bold;
	cursor: pointer;
}
.login-button:hover {
	background-color: #0d47a1;
}