@import '../../../css/theme-config.scss';

#avatar-control-block {
    width: 320px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    padding-top:3px;
    font-family: $font-family;
    color: $text-color;
    background-color: $avatar-control-bg;
}
.sidebar {
    height:20vh;
    color: $text-color;
    font-family: $font-family;
    background-color: $avatar-control-bg;
    text-align: center;
    position: fixed;
    z-index: 1;
    width:107px;
}
.nav-link {
    color: $text-color;
    font-family: $font-family;
}
.main {
    background-color: $followed-grid-bg;
    opacity: 1;
    z-index: 0;
}
.now-playing-grid {
    margin-left: 185px;
    margin-top: 50px;
}
.now-playing-header {
    font-size: 40px;
    color: #444;
}
.stream {
   // width:320px;
   // height:263px;
    width: 300px;
    height: 300px;
    //background-color:rgba(102,102,102,0.2);
    margin-bottom:10px;
    color: rgba(202, 202, 202, 0.42);
}