@import '../../../css/theme-config.scss';
@import '../../../../../node_modules/bootstrap/scss/bootstrap.scss';

.stream-title {
    z-index:1;
    width: $channel-block-width;
    height: 25px;
    font-size: 15px;
    text-align: center;
    background-color: rgba(35, 35, 35, .90);
    position:absolute;
}
.stream-title-bottom {
    z-index:1;
    width: $channel-block-width;
    height: 60px;
    text-align: center;
    background-color: rgba(35, 35, 35, .90);
    position:absolute;
    padding-top: 6px;
}
.text-box {
    width:220px;
    display:inline-block;
    font-size: 15px;
    margin: 0px auto;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.text-box-accent-color {
    color: $accent-color;
}
.channel-logo-img {
    opacity: 0.4;
    z-index:0;
    width: $channel-block-width;
    height: $channel-block-height;
}
@include media-breakpoint-up(xl) {
    .stream-title-bottom {
        top: 190px;
    }
}
@include media-breakpoint-down(sm) {
    .stream-title-bottom {
        top: 240px;
        width: 300px;
        display: block;
    }
    .stream-title {
        width: 300px;
        display: block;
    }
}