<quick-nav class="hidden-sm-down"></quick-nav>
<mobile-controls class="hidden-md-up"></mobile-controls>
<div class="main">
	<div class="now-playing-grid" style="overflow:visible;">
		<span class="center-me">
			<nav-box class="hidden-sm-down"></nav-box>
			<span class="hidden-sm-down">
				<masonry [options]='{ "gutter": 10 }'>
					<div masonry-brick class="stream" *ngFor="let s of streams">
						<channel [channel]="s.ChannelName" [logoURL]="s.LogoURL"
								[streamTitle]="s.CurrentTitle" [viewers]="s.Viewers">
						</channel>
					</div>
				</masonry>
			</span>
			<span class="hidden-md-up">
				<masonry [options]='{ "gutter": 10, "itemSelector": ".stream" }'>
					<div masonry-brick class="stream" *ngFor="let s of streams">
						<channel [channel]="s.ChannelName" [logoURL]="s.LogoURL"
								 [streamTitle]="s.CurrentTitle" [viewers]="s.Viewers">
						</channel>
					</div>
				</masonry>
			</span>
		</span>
	</div>
</div>