<div style="position:relative;">
	<span class="hidden-md-down">
		<div [@topHover]="state" class="stream-title">
			{{channel}}
		</div>
		<img [@imageHover]="state" (click)="startStream((channel))" src="{{logoURL}}" class="channel-log-img" width="250" height="250" />
		<div [@bottomHover]="state"  class="stream-title-bottom">
			<span class="text-box">{{streamTitle}}</span>
			<span class="text-box text-box-accent-color">{{viewers}} Viewers</span>
		</div>
	</span>
	<span class="hidden-md-up">
		<div class="stream-title">
			{{channel}}
		</div>
		<img [@imageHover]="state" src="{{logoURL}}" (click)="startStream((channel))" class="channel-log-img" width="300" height="300" />
		<div class="stream-title-bottom">
			<span class="text-box">{{streamTitle}}</span>
			<span class="text-box text-box-accent-color">{{viewers}} Viewers</span>
		</div>
	</span>

</div>